# Always use LF on all platforms for these file types
*.sh        text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.go        text eol=lf
*.conf      text eol=lf
*.md        text eol=lf
*.html      text eol=lf
*.json      text eol=lf
*.mod       text eol=lf